services:
  master:
    image: rust:1.75
    working_dir: /app
    command: ["bash", "-lc", "cargo run -p namu-master"]
    environment:
      DATABASE_URL: postgres://namu:namu@postgres:5432/namu
      REDIS_URL: redis://redis:6379/
      BIND_ADDR: 0.0.0.0:8080
      ARTIFACTS_DIR: /app/data/artifacts
      NAMU_OBJECT_STORE_ENDPOINT: http://minio:9000
      NAMU_OBJECT_STORE_BUCKET: namu
      NAMU_OBJECT_STORE_ACCESS_KEY: minioadmin
      NAMU_OBJECT_STORE_SECRET_KEY: minioadmin
      NAMU_OBJECT_STORE_REGION: us-east-1
      NAMU_OBJECT_STORE_FORCE_PATH_STYLE: "true"
    volumes:
      - ..:/app
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - target-cache:/app/target
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      minio:
        condition: service_started

  worker-1:
    image: rust:1.75
    working_dir: /app
    command: ["bash", "-lc", "cargo run -p namu-worker"]
    environment:
      NAMU_ORCH_URL: http://master:8080
      REDIS_URL: redis://redis:6379/
      WORKER_ID: worker-1
      WORKER_POOL: trusted
      RESOURCE_CLASS: cpu.small
      ARTIFACT_CACHE: /app/data/cache/worker-1
      NAMU_OBJECT_STORE_ENDPOINT: http://minio:9000
      NAMU_OBJECT_STORE_BUCKET: namu
      NAMU_OBJECT_STORE_ACCESS_KEY: minioadmin
      NAMU_OBJECT_STORE_SECRET_KEY: minioadmin
      NAMU_OBJECT_STORE_REGION: us-east-1
      NAMU_OBJECT_STORE_FORCE_PATH_STYLE: "true"
    volumes:
      - ..:/app
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - target-cache:/app/target
    depends_on:
      master:
        condition: service_started
      redis:
        condition: service_healthy

  worker-2:
    image: rust:1.75
    working_dir: /app
    command: ["bash", "-lc", "cargo run -p namu-worker"]
    environment:
      NAMU_ORCH_URL: http://master:8080
      REDIS_URL: redis://redis:6379/
      WORKER_ID: worker-2
      WORKER_POOL: trusted
      RESOURCE_CLASS: cpu.small
      ARTIFACT_CACHE: /app/data/cache/worker-2
      NAMU_OBJECT_STORE_ENDPOINT: http://minio:9000
      NAMU_OBJECT_STORE_BUCKET: namu
      NAMU_OBJECT_STORE_ACCESS_KEY: minioadmin
      NAMU_OBJECT_STORE_SECRET_KEY: minioadmin
      NAMU_OBJECT_STORE_REGION: us-east-1
      NAMU_OBJECT_STORE_FORCE_PATH_STYLE: "true"
    volumes:
      - ..:/app
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - target-cache:/app/target
    depends_on:
      master:
        condition: service_started
      redis:
        condition: service_healthy

volumes:
  cargo-registry:
  cargo-git:
  target-cache:
