name: Rust

on:
  push:
    branches:
      - main
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchains
        run: |
          rustup update --no-self-update
          rustup toolchain install nightly
          rustup component add clippy
          rustup component add rustfmt --toolchain nightly
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-expand
        run: |
          cargo install cargo-expand --locked
      - name: Install cargo-deny
        run: |
          cargo install cargo-deny --locked
      - name: Install cargo-audit
        run: |
          cargo install cargo-audit --locked
      - name: Verify
        run: |
          ./scripts/verify.sh
